{% extends 'base.html' %}

{% load staticfiles %}
{% block block1 %}
<div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading" id="info">Estas modificando la incidencia Nº{{incidencia.id}} </h2>
                    <form action="." method="post">
					{% csrf_token %}
					{{ form.as_ul }}
					<input type="submit" value="Submit" />
					</form>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/phones.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
{% endblock block1 %}
{% block block2 %}
{% endblock block2 %}
{% block block3 %}
{% endblock block3 %}