{% extends 'base.html' %}

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'tracker/style.css' %}" />

<h1>Lista de últimas incidencias registradas</h1>

{% block maincontent %}
{% if ultimas_incidencias %}
    <ul>
    {% for inci in ultimas_incidencias %}
        <li><a href="{% url 'tracker:detail' inci.id %}">Incidencia Nº{{ inci.id }}</a></li>

    {% endfor %}
    </ul>
	
{% else %}
    <p>No hay incidencias disponibles.</p>

{% endif %}
{% endblock maincontent %}